<robot name="onshape">
<link name="single_test_tube_holder">
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="file:///home/intelnuc/sdl_ws/src/self_driving_lab/manipulator/urdf/test_tube_w_holder/single_test_tube_holder.stl"/>
</geometry>
<material name="single_test_tube_holder_material">
<color rgba="0.61568627450980395466 0.81176470588235294379 0.92941176470588238168 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="file:///home/intelnuc/sdl_ws/src/self_driving_lab/manipulator/urdf/test_tube_w_holder/single_test_tube_holder.stl"/>
</geometry>
</collision>
<visual>
<origin xyz="-1.561251128379126385e-17 0.021749999999999995032 0.056749999999999994893" rpy="0 -0 0" />
<geometry>
<mesh filename="file:///home/intelnuc/sdl_ws/src/self_driving_lab/manipulator/urdf/test_tube_w_holder/test_tube.stl"/>
</geometry>
<material name="test_tube_material">
<color rgba="0.73725490196078435901 0.9372549019607843146 0.91764705882352937127 1.0"/>
</material>
</visual>
<collision>
<origin xyz="-1.561251128379126385e-17 0.021749999999999995032 0.056749999999999994893" rpy="0 -0 0" />
<geometry>
<mesh filename="file:///home/intelnuc/sdl_ws/src/self_driving_lab/manipulator/urdf/test_tube_w_holder/test_tube.stl"/>
</geometry>
</collision>
<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0" />
<inertia ixx="0" ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
</link>
<joint name="single_test_tube_holder_joint" type="fixed">
<origin xyz="1.0 0 0" rpy="0 0 0"/>
<parent link="world"/>
<child link="single_test_tube_holder"/>
</joint>


</robot>
